.bg,
.line-icon1 {
  position: absolute;
}
.bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--neutral-white);
}
.line-icon1 {
  height: 6.67%;
  width: 444.91%;
  top: 232.5%;
  right: -344.72%;
  bottom: -139.17%;
  left: -0.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.careers,
.partners,
.support {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 300;
}
.careers,
.partners {
  left: 37.74%;
}
.careers {
  left: 78.11%;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.facebook-f,
.linkedin-in,
.twitter,
.youtube {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  line-height: 15px;
  text-transform: uppercase;
}
.facebook-f,
.linkedin-in,
.youtube {
  left: 30.36%;
}
.linkedin-in,
.youtube {
  left: 56.25%;
}
.youtube {
  left: 85.71%;
}
.social-icons,
.top-bar {
  position: absolute;
  display: none;
}
.social-icons {
  height: 100%;
  width: 42.26%;
  top: 0;
  right: -344.91%;
  bottom: 0;
  left: 402.64%;
  overflow: hidden;
  color: var(--color-mediumblue);
  font-family: var(--body-default);
}
.top-bar {
  height: 10.43%;
  width: 13.8%;
  top: 13.91%;
  right: 66.88%;
  bottom: 75.65%;
  left: 19.32%;
}
.angle-down,
.home1,
.services2 {
  position: absolute;
  top: calc(50% - 11.6px);
  left: 0;
  line-height: 24px;
}
.angle-down {
  top: calc(50% - 3.6px);
  left: 90.63%;
  font-size: var(--font-size-sm);
  line-height: 14px;
  font-family: var(--body-default);
}
.services1 {
  position: absolute;
  height: 100%;
  width: 17.11%;
  top: 0;
  right: 64.53%;
  bottom: 0;
  left: 18.36%;
  overflow: hidden;
}
.angle-down1,
.pages1 {
  position: absolute;
  top: calc(50% - 11.6px);
  left: 0;
  line-height: 24px;
}
.angle-down1 {
  top: calc(50% - 3.6px);
  left: 87.67%;
  font-size: var(--font-size-sm);
  line-height: 14px;
  font-family: var(--body-default);
}
.pages {
  position: absolute;
  height: 100%;
  width: 13.01%;
  top: 0;
  right: 43.49%;
  bottom: 0;
  left: 43.49%;
  overflow: hidden;
}
.angle-down2,
.news1 {
  position: absolute;
  top: calc(50% - 11.6px);
  left: 0;
  line-height: 24px;
}
.angle-down2 {
  top: calc(50% - 3.6px);
  left: 86.36%;
  font-size: var(--font-size-sm);
  line-height: 14px;
  font-family: var(--body-default);
}
.news {
  position: absolute;
  height: 100%;
  width: 11.76%;
  top: 0;
  right: 23.71%;
  bottom: 0;
  left: 64.53%;
  overflow: hidden;
}
.contacts {
  top: calc(50% - 11.6px);
  left: 84.31%;
  line-height: 24px;
}
.contacts,
.dustro,
.menu {
  position: absolute;
}
.menu {
  width: 561px;
  height: 19.2px;
  display: none;
}
.dustro {
  top: calc(50% - 14.2px);
  left: 0;
  line-height: 28px;
  font-weight: 500;
}
.element1 {
  height: 10.71%;
  width: 31.07%;
  top: 28.57%;
  right: 14.56%;
  bottom: 60.71%;
  left: 54.37%;
  background-color: #d2153d;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.element1,
.element2,
.logo {
  position: absolute;
}
.element2 {
  height: 10.71%;
  width: 8.74%;
  top: 17.86%;
  right: 1.94%;
  bottom: 71.43%;
  left: 89.32%;
  background-color: var(--color-mediumblue);
}
.logo {
  width: 103px;
  height: 22.4px;
  overflow: hidden;
  display: none;
  text-align: center;
  font-size: 34px;
  color: #16213e;
}
.menu-line {
  position: absolute;
  top: 74.78%;
  left: 19.32%;
  width: 0;
  height: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslateblue-100);
}
.conrent {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.conrent,
.header,
.hero-child {
  position: absolute;
  top: 0;
  left: 0;
}
.header {
  width: 1920px;
  height: 115px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.hero-child {
  width: 1440px;
  height: 319px;
  object-fit: cover;
}
.construction-solutio {
  position: absolute;
  width: 100%;
  top: calc(50% - 48.7px);
  left: 0;
  line-height: 64px;
  font-weight: 600;
  display: inline-block;
  height: 97.4px;
}
.construction-solutio-wrapper {
  position: absolute;
  width: 15.7%;
  top: calc(50% - 42.3px);
  right: 69.85%;
  left: 14.45%;
  height: 97.4px;
}
.hero1 {
  position: absolute;
  top: 103px;
  left: 0;
  width: 1440px;
  height: 319px;
  font-size: var(--h2-semibold-size);
  color: var(--neutral-white);
}
.construction-solutio1 {
  width: 266px;
  position: relative;
  line-height: 64px;
  font-weight: 600;
  display: inline-block;
  height: 49px;
  flex-shrink: 0;
}
.picture-icon {
  width: 358px;
  position: relative;
  height: 245px;
  object-fit: cover;
}
.unsplash5oe8kfh5998 {
  align-self: stretch;
  height: 313px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xl) var(--padding-6xl);
  box-sizing: border-box;
}
.structural-analysis {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.card-body {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
}
.for-enquiry {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-transform: uppercase;
}
.for-enquiry-wrapper {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card,
.card-footer {
  display: flex;
  flex-direction: column;
}
.card-footer {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  font-size: var(--caption-size);
  color: var(--neutral-white);
}
.card {
  width: 360px;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  height: 541.5px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
}
.picture-icon1 {
  width: 365px;
  position: relative;
  height: 242px;
  object-fit: cover;
}
.unsplash5oe8kfh59981 {
  align-self: stretch;
  height: 271px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) var(--padding-6xl);
  box-sizing: border-box;
}
.building-design {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.card-body1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
}
.for-enquiry1 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-transform: uppercase;
}
.for-enquiry-container {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card-footer1,
.card1 {
  display: flex;
  flex-direction: column;
}
.card-footer1 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  font-size: var(--caption-size);
  color: var(--neutral-white);
}
.card1 {
  width: 360px;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  height: 541.5px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
}
.picture-icon2 {
  width: 365px;
  position: relative;
  height: 242px;
  object-fit: cover;
}
.unsplash5oe8kfh59982 {
  align-self: stretch;
  height: 271px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) var(--padding-6xl);
  box-sizing: border-box;
}
.geotechnical-engineering {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.card-body2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
}
.for-enquiry2 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-transform: uppercase;
}
.card-footer2,
.for-enquiry-frame {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.for-enquiry-frame {
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card-footer2 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  font-size: var(--caption-size);
  color: var(--neutral-white);
}
.card-parent,
.card2 {
  display: flex;
  align-items: flex-start;
}
.card2 {
  width: 360px;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  height: 541.5px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
.card-parent {
  width: 1236px;
  height: 656px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  gap: 375px 78px;
  text-align: center;
}
.construction-solutio2 {
  width: 266px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 64px;
  font-weight: 600;
  font-family: var(--h2-semibold);
  color: var(--color-gray-100);
  display: inline-block;
  height: 49px;
  flex-shrink: 0;
}
.group-icon,
.group-icon1,
.group-icon2,
.group-icon3 {
  width: 18px;
  position: relative;
  height: 14.6px;
}
.group-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.building-materials,
.construction-management,
.software-for-civil {
  margin-block-start: 0;
  margin-block-end: 22px;
}
.industry-certification-prepara {
  margin: 0;
}
.construction-management-buildi-container {
  width: 638px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent33 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  font-size: var(--body-medium-size);
  font-family: var(--body-default);
}
.frame-parent32,
.frame-wrapper21 {
  width: 1236px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.frame-parent32 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19px 127px;
}
.frame-wrapper21 {
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-12xl);
  color: var(--black);
  font-family: var(--font-roboto);
}
.construction-solutio-parent {
  position: absolute;
  top: 557px;
  left: 96px;
  width: 1239px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 134px;
}
.construction-solutio3 {
  width: 457px;
  position: relative;
  line-height: 64px;
  font-weight: 600;
  display: inline-block;
  height: 49px;
  flex-shrink: 0;
}
.picture-icon3 {
  width: 358px;
  position: relative;
  height: 245px;
  object-fit: cover;
}
.unsplash5oe8kfh59983 {
  align-self: stretch;
  height: 313px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xl) var(--padding-6xl);
  box-sizing: border-box;
}
.advanced-structural-analysis {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.card-body3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
}
.for-enquiry3 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-transform: uppercase;
}
.for-enquiry-wrapper1 {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card-footer3,
.card3 {
  display: flex;
  flex-direction: column;
}
.card-footer3 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  font-size: var(--caption-size);
  color: var(--neutral-white);
}
.card3 {
  width: 360px;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  height: 541.5px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
}
.picture-icon4 {
  width: 358px;
  position: relative;
  height: 245px;
  object-fit: cover;
}
.unsplash5oe8kfh59984 {
  align-self: stretch;
  height: 313px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xl) var(--padding-6xl);
  box-sizing: border-box;
}
.seismic-design {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.card-body4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
}
.for-enquiry4 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-transform: uppercase;
}
.for-enquiry-wrapper2 {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card-footer4,
.card4 {
  display: flex;
  flex-direction: column;
}
.card-footer4 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  font-size: var(--caption-size);
  color: var(--neutral-white);
}
.card4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  width: 360px;
  height: 541.5px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
}
.picture-icon5 {
  width: 365px;
  position: relative;
  height: 242px;
  object-fit: cover;
}
.unsplash5oe8kfh59985 {
  align-self: stretch;
  height: 271px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl) var(--padding-6xl);
  box-sizing: border-box;
}
.construction-project-managemen {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.card-body5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
}
.for-enquiry5 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 23px;
  text-transform: uppercase;
}
.for-enquiry-wrapper3 {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-200);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card-footer5,
.card5 {
  display: flex;
  flex-direction: column;
}
.card-footer5 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  font-size: var(--caption-size);
  color: var(--neutral-white);
}
.card5 {
  position: absolute;
  top: 0;
  left: 438px;
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  width: 360px;
  height: 541.5px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
}
.card-parent1 {
  width: 798px;
  position: relative;
  height: 541.5px;
}
.card-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 102px;
  text-align: center;
  font-size: var(--font-size-12xl);
  color: var(--black);
  font-family: var(--font-roboto);
}
.construction-solutio4 {
  width: 266px;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 64px;
  font-weight: 600;
  display: inline-block;
  height: 49px;
  flex-shrink: 0;
}
.group-icon4,
.group-icon5,
.group-icon6,
.group-icon7 {
  width: 18px;
  position: relative;
  height: 14.6px;
}
.group-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.building-information-modeling,
.contract-management,
.sustainable-infrastructure-pra {
  margin-block-start: 0;
  margin-block-end: 22px;
}
.refresher-courses-for {
  margin: 0;
}
.building-information-modeling-container {
  width: 638px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.construction-solutio-group,
.frame-parent34 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.frame-parent34 {
  align-items: center;
  gap: var(--gap-4xl);
  font-size: var(--body-medium-size);
  color: var(--black);
  font-family: var(--body-default);
}
.construction-solutio-group {
  position: absolute;
  top: 1712px;
  left: 73px;
  width: 1260px;
  align-items: flex-start;
  gap: 155px;
}
.image-1-icon1 {
  width: 70px;
  position: relative;
  height: 52px;
  object-fit: cover;
}
.dream-infra1 {
  width: 97px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.image-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.about-us2,
.packages1,
.projects,
.services3 {
  position: relative;
  cursor: pointer;
}
.frame-parent35,
.navitems1 {
  width: 606px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  color: var(--neutral-900);
  font-family: var(--body-default);
}
.frame-parent35 {
  position: absolute;
  top: 30px;
  left: 53px;
  width: 2441px;
  align-items: center;
  gap: 532px;
  font-size: var(--body-default-size);
  color: var(--black);
  font-family: var(--font-fanwood-text);
}
.course {
  width: 100%;
  position: relative;
  background-color: var(--neutral-white);
  height: 2919px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-100);
  font-family: var(--h2-semibold);
}
